.modal{
    position: absolute;
    width: 100%;
    top: 20px;
    margin: 0 auto;
    display: none;
    
    &.open{
        display: block;
    }
}

.overlay {
    position: fixed;
    background-color: rgba(68, 68, 68, 0.55);
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    z-index: 2;
    backdrop-filter: blur(15px);
}
.container-modal{
    position: relative;
    display: block;
    width: 100%;
    z-index: 2;
}

.card-modal {
    z-index: 5;
    width: 100%;
	cursor: pointer;
	&:hover img{
		animation: zoom 0.5s ease-in-out 0s 2 alternate;
	}
	
}
.tagMove{
    background-color: var(--grey-progress-theme-color);
    padding: 10px 16px ;
    margin: 10px 10px;
    position: relative;
    display: inline-block;
    border-radius: 16px;
    font-size: 18px;
    text-align: center;
}
.card__image-modal {
    position: relative;
	z-index: 2;
    width: 100%;
    text-align: center;
}
.divider{
    width: 100%;
    height: 1px;
    background-color: var(--primary-shadow-color);
    margin-top: 43px;
    margin-bottom: 0;
}

.skill-name {
	&:after {
		background-color: var(--grey-progress-theme-color);
		content: '';
        border-radius: 8px;
		display: block;
		height: 0.5rem;
        max-width:100%!important ;
		position: relative;
		width: 100%;
        top: 8px;
        opacity: 0.4;
	}
}
.open{ 
    & .skill-percent {
    max-width:100%!important ;
	font-size: 0;
    border-radius: 8px;
	height: 0.5rem;
	transition: 1s linear;
    animation-direction: revert;
	width: 0;
    }
}

.skill-percent-html {
    border-radius: 8px;
	background-color: var(--alternate-theme-color);
}

.card-modal__content-title {
    padding: 90px 20px 20px 20px;
}
.card-modal__content-title h3{
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 20px;
}
@media (min-width:768px) {
    .container-modal{
        position: relative;
        display: block;
        width: 80%;
        z-index: 2;
        margin: 0 auto;
  
    }
    .card-modal__content-title {
        padding: 80px;
    }
    
}

#closeModal{
    font-size: 42px;
    width: 100%;
    text-align: right;
    color: #fff;
    font-weight: 600;
}


#closeModal:hover{
    font-size: 42px;
    width: 100%;
    text-align: right;
    color: rgb(0, 0, 0);
    font-weight: 600;
}