:root {
	scroll-behavior: smooth;
	--primary-theme-color: #131D31;
	--secondary-theme-color: #3479BC;
	--alternate-theme-color: #2FBCD1;
	--grey-light-theme-color: #EEF5FA;
	--grey-main-theme-color: #919EAB;
	--grey-dark-theme-color: #637381;
	--grey-dark2-theme-color: #212B36;
	--primary-shadow-color: rgba(145, 158, 171, 0.10);
	--primary-paper-color: #FFFFFF;
	--secondary-paper-color: #EEF5FA;
	--primary-text-color: #212B36;
	--secondary-text-color: #3479BC;
	--alternate-text-color: #2FBCD1;
	--grey-text-color: #919EAB;
	--white-text-color: #FFFFFF;
	--primary-font-family: 'Barlow', monospace;
	--secondary-font-family: 'Poppins', monospace;
	--max-width-container: 1152px;
	--padding-section: 1.5rem;
	--padding-container: 1rem;
	--primary-border-radius: 0.5rem;
	--border-radius-medium: 8px;
	--border-radius-large: 16px;

	--grey-progress-theme-color: #dbe2e9;
}
